<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login Page</title>
</head>
<body>

    <form action="" method="POST" novalidate>
        {% csrf_token %}
        <h2>User Login Page</h2>    
        {% if forms.non_field_errors %}
            {% for error in forms.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}
        {% for form in forms %}
            {{form.label_tag}}
            {{form}}
            {{form.errors|striptags}}<br><br>
        {% endfor %}
        <input type="Submit" value="Submit">
    </form>
    <a href="{% url 'signup' %}">signup</a>
</body>
</html>